.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border: 1px solid;
  border-radius: 50%;
  background-color: rgb(12, 252, 12);
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}
form:hover{
  transform: rotate(360deg);
}
form>input{
  width: 50%;
  height: 40px;
  font-size: 12px;
  padding-left: 10px;
}
.sub{
  width: 50%;
  height: 40px;
  padding-left: 10px;
}
textarea{
  width: 50%;
  height: 60px;
  font-size: 16px;
  padding-left: 10px;
}
.cont{
   width: 300px;
   div{
    width: 300px;
    padding: 20px;
    cursor: pointer;
   }
   p{
    width: 100%;
    max-width: 200px;
    display: none;
   }
}
.delete{
  margin-left: 50px;
  border: 1px solid red;
  background-color: red;
  color: white;
  cursor: pointer;
}